@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scroll bar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.boxshadow {
  box-shadow: 0px 8px 48px 0px rgba(30, 56, 117, 0.893);
  backdrop-filter: blur(2px);
}

.section-step {
  border-radius: 0.25em;
  box-shadow: 0 0 0 1px #ccc;
}
